.close-icon :hover {
  color: rgb(175, 13, 13);
  cursor: pointer;
}
.hover-icon :hover {
  cursor: pointer;
}
@media (max-width: 767px) {
  .hide-sm {
    display: none;
  }
}

@media (max-width: 767px) {
  .site-layout {
    display: block;
  }
}

.site-layout {
  background: #fff;
  padding: 24px;
  min-height: 620px;
}

.site-layout-background {
  background: #fff;
}
.auth-container {
  padding: 0 50px;
  height: 100vh;
  display: grid;
  background-color: #011834;
  place-items: center;
}
.auth-card {
  height: fit-content;
  width: 300px;
  border-radius: 5px;
}
.gwiza-mr-3 {
  margin-right: 3px;
}