.close-icon :hover {
  color: rgb(175, 13, 13);
  cursor: pointer;
}
.hover-icon :hover {
  cursor: pointer;
}
@media (max-width: 767px) {
  .hide-sm {
    display: none;
  }
}

@media (max-width: 767px) {
  .site-layout {
    display: block;
  }
}

.site-layout {
  background: #fff;
  padding: 24px;
  min-height: 620px;
}

.site-layout-background {
  background: #fff;
}
